{% extends "base.html" %}


{% block content %}

<div class="registration-container">
	<form class="registration-form" method="post" action="."> 
	  <div class="registration-title">Log In with Email</div>
	  {% csrf_token %}
	  {{ form.as_p }}
	
	<input type="submit" value="Login" />
	</form>
</div>

{% endblock %}