{% extends "base.html" %}

{% block content %}

<div class="registration-container">    
    <form class="registration-form" method="post" action=".">
        <div id="registration-title">Register for the shopping cart</div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/ value="Register" />
    </form>
</div>
{% endblock %}