body {
    width: auto;
}
.main-content {
    margin: 0 auto;
    width: 940px;
    padding-top: 41px;
    padding-bottom: 60px;
}
#main-content {
    margin: 10px;
}
.product {
    padding: 5px;
    border-bottom: 1px dotted black;
    width: 300px;
}
.order {
    margin: 10px 0 35px;
}