<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
    <head>
    {% load static from staticfiles %}
    {% block css %}
       <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endblock %}
    
    {% block js %}
    {% endblock %}  
    </head>
    
    <body>
        <div id="main-content">
            <div style="float: right;" id="right-header">
                {% if user.is_authenticated %}
                <span style="padding: 5px;"><a href="{% url 'shopping_cart' %}">Shopping Cart</a> items: {{ shopping_cart.products.count }}</span>
                <span style="padding: 5px;"><a href="{% url 'shopping_cart' %}">Checkout</a></span>
                <span style="padding: 5px;"><a href="{% url 'order_history' %}">Order History</a></span>
                {% endif %}
                <span style="padding: 5px;"><a href="{% url 'home' %}">Home</a></span>
                
                {% if user.is_authenticated %}
			    <span style="padding: 5px;"><a href="{% url 'logout' %}?next=/">Logout</a></span>
			    {% else %}
			    <span style="padding: 5px;"><a href="{% url 'login' %}">Login</a></span>
			    <span style="padding: 5px;"><a href="{% url 'register' %}">Register</a></span>
			    {% endif %}
            </div>
	        {% block content %}{% endblock %}
	        </div>
    </body>
</html>