{% extends "base.html" %}

{% block content %}

<div id="login-box">
    <div><b>Stores</b></div>
</div>
<div>
    {% for store in stores %}
        <a href="{% url 'store' store.subdomain %}"><div>{{ store.name }}</div></a>
    {% endfor %}

{% endblock %}