{% extends "base.html" %}

{% block content %}
	{% include "store/product_entry.html" %}
	
	{% if user.is_authenticated %}
	<form method="POST" action="{% url 'product' product.id %}">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Add">
	</form>
	{% else %}
	<div class="login-link">
	   <a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Login</a> to add this your shopping cart!
	</div>
	{% endif %}
{% endblock %}