<div class="product">
	<a href="{% url 'product' product.id %}">
	   <div class="product-name">{{ product.name }}</div>
	</a>
	{% if product.description.length > 0 %}
	   <div class="product-description>{{ product.description }}</div>
	{% endif %}
	<div class="product-price">{{ product.price }}</div>
	<div class="product-stock">{{ product.stock }} units available</div>
</div>