{% extends "base.html" %}

{% block content %}
    <div id="title"><b>{{ store.name }}</b></div>
    <div id="products-container">
        {% for product in products %}
            {% include "store/product_entry.html" %}
        {% endfor %}
    </div>
{% endblock %}