{% extends "base.html" %}

{% block content %}

<div id="title"><b>Order History</b></div>

{% for order in previous_orders %}
    <div class="order">
        <div id="order-title">Order on {{ order.paid_at }}</div>
        {% with order.order_product_details.all as order_products %}
        {% for order_product in order_products %}
            {% with order_product.product as product %}
            <div class="product">
		        <div class="product-name"><a href="{% url 'product' product.id %}">{{ product.name }}</a></div>
			    {% if product.description.length > 0 %}
			       <div class="product-description>{{ product.description }}</div>
			    {% endif %}
			    <div class="product-price">{{ product.price }} unit price</div>
			    <div class="product-quantity">{{ order_product.quantity }} purchased</div>
			</div>
			{% endwith %}
        {% endfor %}
        {% endwith %}
    </div>
{% endfor %}

{% endblock %}