{% extends "base.html" %}

{% block content %}

<div id="title"><b>Shopping Cart</b></div>

{% with shopping_cart.order_product_details.all as order_products %}
    <div class="order">
    {% for order_product in order_products %}
        {% with order_product.product as product %}
        <div class="product">
            <div class="product-name"><a href="{% url 'product' product.id %}">{{ product.name }}</a></div>
            {% if product.description.length > 0 %}
               <div class="product-description>{{ product.description }}</div>
            {% endif %}
            <div class="product-price">{{ product.price }} unit price</div>
            <div class="product-quantity">{{ order_product.quantity }} units</div>
            <div class="product-remove"><a href="{% url 'remove_order_product' product.id %}">Remove from Shopping Cart</a></div>
        </div>
        {% endwith %}
    {% endfor %}
    </div>
{% endwith %}

{% if user.is_authenticated and shopping_cart.products.count > 0 %}
    <form method="link" action="{% url 'checkout' %}">
	    <input type="submit" value="Free Checkout">
	</form>
{% endif %}

{% endblock %}